@font-face {
	font-family: "crimson";
	src: url("fonts/CrimsonText-Roman.ttf");
}

@font-face {
	font-family: "playfair";
	src: url("fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
	font-family: "oswald";
	src: url("fonts/Oswald-Light.ttf");
}

img.glyph-icon {
	width: 20px;
	height: 20px;
}

#cover {
	position: relative;
	top: 5%;
	transform: translateY(-5%);
}

#mainTitle1 {
	font-family: "oswald";
	position: absolute;
	bottom: 205px;
	right: 252px;
	z-index: 2;
	color: #fff;
	font-size: 40px;
}

#dash {
	text-align: center;
	position: absolute;
	bottom: 150px;
	right: 354px;
	z-index: 2;
	color: #fff;
	font-size: 20px;
	width: 77px;
}

div.subhed {
	word-wrap: break-word;
	width: 610px;
	position: absolute;
	bottom: 65px;
	right: 75px;
	z-index: 2;
	color: #fff;
	font-size: 20px;
	font-family: "oswald";
}

.firstLetter {
	display: inline;
	font-size: 35px;
}

body {
	font-family: "crimson";
	display: inline;
	font-size: 21px;
}

div.new {
	word-wrap: break-word;
	width: 800px;
	position: relative;
	left: 100;
	margin: 0 auto;
}

span.MCHeading {
	font-family: "Times New Roman";
	font-size: 28px;
	font-weight: bold;
	padding-left: 100px;
}

iframe.frame {
	margin: 0 auto;
	display: block;
	border: 0;
}

#coverImg {
	z-index: 1;
}

#backOffWhite {
	background-color: #eee9e9;
}

#backGray {
	background-color: lightgrey;
}

p.title {
	font-weight: bold;
	font-size: 26px;
}

#tooltip {
	text-align: center;
	color: #111;
	background: #fff;
	position: absolute;
	z-index: 100;
	padding: 10px;
	font-size: 15px;
	border: 1px solid #111;
	font-family: "crimson";
}

#tooltip:after /* triangle decoration */ {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #111;
	content: "";
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -10px;
}

#tooltip.top:after {
	border-top-color: transparent;
	border-bottom: 10px solid #111;
	top: -20px;
	bottom: auto;
}

#tooltip.left:after {
	left: 10px;
	margin: 0;
}

#tooltip.right:after {
	right: 10px;
	left: auto;
	margin: 0;
}

img.largeImg {
	width: 100%;
}

div.byline {
	text-align: center;
}

.captiontop {
	color: #909090;
	text-align: left;
	font-size: 15px;
	position: relative;
	bottom: 80px;
	left: 5px;
}

.captionbottom {
	color: #909090;
	text-align: left;
	font-size: 15px;
	position: relative;
	left: 5px;
}

ul.share-buttons {
	list-style: none;
	padding: 0;
	position: center;
}

ul.share-buttons li {
	display: inline;
}

u.dotted {
	border-bottom: 1px dashed #000;
	text-decoration: none;
}

a {
	color: black;
}

.cocoen {
  box-sizing: border-box;
  cursor: pointer;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  user-select: none;
}
.cocoen * {
  box-sizing: inherit;
}
.cocoen *::after, .cocoen *::before {
  box-sizing: inherit;
}
.cocoen img,
.cocoen picture > img {
  max-width: none;
}
.cocoen > img,
.cocoen > picture > img {
  display: block;
  width: 100%;
}
.cocoen > div:first-child, picture .cocoen > div {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50%;
}
.cocoen-drag {
  background: #fff;
  bottom: 0;
  cursor: ew-resize;
  left: 50%;
  margin-left: -1px;
  position: absolute;
  top: 0;
  width: 2px;
}
.cocoen-drag::before {
  border: 3px solid #fff;
  content: "";
  height: 30px;
  left: 50%;
  margin-left: -7px;
  margin-top: -18px;
  position: absolute;
  top: 50%;
  width: 14px;
}
